<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Turismo</title>
        <style>
        body {
            background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
            min-height: 100vh;
            font: normal 16px sans-serif;
            padding: 60px 0;
        }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link href="{% static "css/styles.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Turismo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/galeria">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            </nav>
        </header>
        <main role="main">
            <div class="tz-gallery">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="{% static "img/bridge.jpg" %}">
                            <img src="{% static "img/bridge.jpg" %}" alt="Bridge">
                        </a>
                        <p class="mb-4">Costanera y la cordillera</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static "img/park.jpg" %}">
                            <img src="{% static "img/park.jpg" %}" alt="Park">
                        </a>
                        <p class="mb-4">Santiago y la cordillera</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static "img/tunnel.jpg" %}">
                            <img src="{% static "img/tunnel.jpg" %}" alt="Tunnel">
                        </a>
                        <p class="mb-4">Santiago de noche</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <a class="lightbox" href="{% static "img/traffic.jpg" %}">
                            <img src="{% static "img/traffic.jpg" %}" alt="Traffic">
                        </a>
                        <p class="mb-4">Santiago</p>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static "img/coast.jpg" %}">
                            <img src="{% static "img/coast.jpg" %}" alt="Coast">
                        </a>
                        <p class="mb-4">Construcción</p>
                    </div> 
                    <div class="col-sm-6 col-md-4">
                        <a class="lightbox" href="{% static "img/rails.jpg" %}">
                            <img src="{% static "img/rails.jpg" %}" alt="Rails">
                        </a>
                        <p class="mb-4">Atardecer en santiago</p>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
            <script>
                baguetteBox.run('.tz-gallery',{
                    animation:'fadeIn',
                });
            </script>
        </main>
        <footer class="container" onclick="footerData()">
                <p>&copy; 2019. Proturismo</p>
            </footer>
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    </body>
</html>